body {
  margin: 0;
  padding: 0;
}
/* Head */
header {
  border: 1px red solid;
}
nav {
  border: 1px red solid;
  font-size: 80%;
}

ul {
  padding: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
}

h1 {
  text-align: center;
}

li:hover {
  font-weight: bold;
  border-bottom: 1px black solid;
}
/* Head Ends */
