body {
  margin: 0;
  padding: 0;
}

/* Tools */
.border {
  border: 1px red dotted;
}
a {
  text-decoration: none;
  color: black;
}
.border-top {
  border-top: 1px black solid;
}
.border-bottom {
  border-bottom: 0.1px black solid;
}
/* Tools ends */
/* Head */

nav {
  font-size: 80%;
}

ul {
  padding: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
}

h1 {
  text-align: center;
}

li:hover {
  font-weight: bold;
  border-bottom: 1px black solid;
}
/* Head Ends */

/* Main */
section {
  padding: 1%;
}
/* Main ends */

/* Footer */
footer {
  padding: 1%;
}
#original {
  color: blue;
}
#original:hover {
  text-decoration: underline;
}
/* Footer ends */
